#product-variation-prices {
	
	tbody {
	  td {
	    &.cell--id {
	      white-space: nowrap;
	    }
	  }
	  
	  
	  tr {
	    
	    &.variaton-row {
	  	  &--group {
	        background: #feffc2;
				  border-top: 3px grey;
				  border-top-style: double;
	  	  }
	  	
	      &--root-product {
	        background: #c1c3f9;
	      }
	    }
	  }
	}
	
	
}