{% trans %}
<span class="min-price-wrapper"><span class="price-prefix">From</span> {{ min_price }}</span> <span class="max-price-wrapper"><span class="price-prefix">to</span> {{ max_price }}</span>
{% endtrans %}