{#
/**
 * @file
 *
 * Default price template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'price',
    old_price ? 'price--discounted',
    price_item.isOldPrice() ? 'price--old',
  ]
%}
{% if old_price %}
  {{ old_price }}
{% endif %}
<span {{ attributes.addClass(classes) }}>
  {% if currency  and currency.symbolPosition == 'before' %}
    <span class="currency-label">{{ currency_symbol }}</span> 
  {% endif %}
  <span class="price-value">{{ price_value }}</span>
  {% if currency  and currency.symbolPosition == 'after' %}
    <span class="currency-label">{{ currency_symbol }}</span>
  {% endif %}
</span>
