<div{{ attributes}}>
  <div class="cart-block--summary">
    {% if items_count > 0 %}
    <a class="link-to-cart-page" href="{{ url }}">
      <span class="cart-block--summary__count">{{ count_text }}</span>
    </a>
    {% else %}
    <a class="link-to-cart-page cart-is-empty" href="#" title="{{'Your shopping cart is empty'|t}}"></a>
    {% endif %}
  </div>
</div>