{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
 node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
#}
{%
  set classes = [
    'bs-shop-warehouse',
    'bs-shop-warehouse-' ~ warehouse.bundle|clean_class,
    view_mode ? 'bs-shop-warehouse--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{- content -}}
</article>
