<div itemscope itemtype="http://schema.org/EmailMessage">
  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="target" href="{{ target_link }}"/>
    <link itemprop="url" href="{{ target_link }}"/>
    <meta itemprop="name" content="{{ link_name }}"/>
  </div>
  <meta itemprop="description" content={{ link_description }}"/>
</div>