{#
/**
 * @file
 * Template for the order edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="order-overview-form-container">
  <div class="order-number-fields-container">
    {{ form|without('actions', 'order_info') }}
  </div>
  <div class="actions">
    {{ form.actions }}
  </div>
  <div class="order-overview">
    {{ form.order_info }}
  </div>
</div>
