{%
  set classes = [
    'bs-order-total-item',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <span class="bs-order-total-item-label">
    <span class="bs-order-total-item-label-text">{{ label }}</span>
    {% if description %}
    <span class="bs-order-total-item-description">({{ description }})</span>
    {% endif %}
  </span>
  <span class="bs-order-total-item-value">
    {% if price %}
    {{ price }}
    {% elseif value %}
    {{ value }}
    {% endif %}
  </span>
</div>