{#
/**
 * @file
 * Template for the order edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="order-form-container">
  <div class="order-data-region order-data-region__main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="order-data-region order-data-region__secondary">
    {{ form.advanced }}
  </div>
  <div class="order-data-region order-data-region__footer">
    {{ form.actions }}
  </div>
</div>
