/**
 * @file
 * Admin styling.
 */

.form-type-bs-price {
	display: inline-block;
}

.form-type-bs-price input[readonly] {
	border-color: #d4d4d4;
  background-color: hsla(0, 0%, 0%, .08);
  box-shadow: none;
	cursor: default;
}

.form-type-bs-price + .form-type-bs-price {

}

.form-type-bs-price .form-type-number, .form-type-bs-price .form-type-select {
  display: inline;
}


.prices-set-by-shop {
	display: flex;
  flex-wrap: wrap;
}

.prices-set-by-shop > fieldset {
	margin-right: 15px;
}

#product-variation-prices .product-price-set .description {
	display: none;
}

#product-variation-prices .copy-price-to-childs {
	margin-top: 15px;
}

