#product-variation-prices tbody td.cell--id {
  white-space: nowrap; }
#product-variation-prices tbody tr.variaton-row--group {
  background: #feffc2;
  border-top: 3px grey;
  border-top-style: double; }
#product-variation-prices tbody tr.variaton-row--root-product {
  background: #c1c3f9; }

/*# sourceMappingURL=productVariationsPriceOverview.css.map */
