.order-form-container {
	display: grid;
  grid-template-areas: "main advanced" "footer footer";
	grid-column-gap: 15px;
}

.order-data-region__main {
	grid-area: main;
}

.order-data-region__secondary {
	grid-area: advanced;
}

.order-data-region__secondary #edit-advanced {
	position: sticky;
  top: 85px;
}

.order-data-region__footer {
	grid-area: footer;
}