.order-number-parts.form-wrapper {
	display: flex;
  align-items: center;
}

.order-number-parts.form-wrapper .form-item-order-number-number-parts-part-1 {
  display: flex;
  align-items: center;
}

.order-number-parts.form-wrapper .form-item-order-number-number-parts-part-1::after {
  content: ' - ';
  white-space: pre;
}