.layout-bs-product-form {
	display: grid;
  grid-template-rows: auto;
  grid-template-columns: 65fr 35fr;
  grid-template-areas: "main advanced" "footer footer";
	grid-column-gap: 25px;
}

.layout-bs-product-form.width-variations-container {
	grid-template-areas: "main advanced" "variations-container variations-container" "footer footer";
}

.layout-region-bs-product-main {
	grid-area: main;
}

.layout-region-bs-product-secondary {
	grid-area: advanced;
}

.layout-region-bs-product-secondary .entity-meta {
	position: sticky;
  top: 90px;
}

.layout-region-bs-product-footer {
	grid-area: footer;
}

.layout-region--bs-product--product-variations {
	grid-area: variations-container;
}

.button--remove-variation {
	margin-top: 25px;
}