#product-variations td.cell--id {
  white-space: nowrap;
  display: flex;
  align-items: center; }
  #product-variations td.cell--id .tabledrag-handle {
    order: -10; }
  #product-variations td.cell--id .indentation {
    order: -20; }
#product-variations input[type="text"] {
  max-width: 250px; }
#product-variations select {
  max-width: 200px; }

#product-variation-prices td.cell--id {
  white-space: nowrap; }

/*# sourceMappingURL=productVariationsTables.css.map */
