.bs-products-in-category-order-form .price--old {
  text-decoration: line-through;
  font-size: 0.75em;
  color: gray;
  margin-right: 15px;
  display: inline-block;
  min-width: 40px; }
  .bs-products-in-category-order-form .price--old .currency-label {
    display: none; }
.bs-products-in-category-order-form .price--discounted {
  display: inline-block;
  min-width: 81px; }
  .bs-products-in-category-order-form .price--discounted .price-value {
    color: red; }
.bs-products-in-category-order-form .discount-reason {
  margin-left: 15px; }

/*# sourceMappingURL=productsCollection.css.map */
