.bs-products-in-category-order-form {
	.price--old {
	  text-decoration: line-through;
	  font-size: 0.75em;
	  color: gray;
	  margin-right: 15px;
	  display: inline-block;
	  min-width: 40px;
	
	  .currency-label {
	    display: none;
	  }
	}
	
	.price--discounted {
		display: inline-block;
		min-width: 81px;
		
	  .price-value {
	    color: red;
	  }
	}
	
	.discount-reason {
	  margin-left: 15px;
	}
}