#product-variations {
  td {
    &.cell--id {
      white-space: nowrap;
	    display: flex;
      align-items: center;
	
	    .tabledrag-handle {
	      order: -10;
	    }
	    
	    .indentation {
	      order: -20;
	    }
    }
  }
  
  input[type="text"] {
    max-width: 250px;
  }
  
  select {
    max-width: 200px;
  }
}

#product-variation-prices {
	td {
    &.cell--id {
      white-space: nowrap;
    }
  }
}