{#
/**
 * @file
 * Default theme implementation of a product title.
 *
 * Available variables:
 * - title: (optional) A descriptive or alternate title for the link, which may
 *   be different than the actual link text.
 *
 * @see template_preprocess()
 * @see template_preprocess_link_formatter_link_separate()
 *
 * @ingroup themeable
 */
#}

{% if title %}
  {% if url %}
    <{{ wrapper_tag }}{{ attributes }}><a href="{{ url }}" title="{{ title|striptags }}">{{ title }}</a></{{ wrapper_tag }}>
  {% else %}
    <{{ wrapper_tag }}{{ attributes }}>{{ title }}</{{ wrapper_tag }}>
  {% endif %}
{% endif %}
