{#
/**
 * @file
 * Default theme implementation for a product edit form.
 *
 * Two column template for the product add/edit form.
 *
 * This template will be used when a product edit form specifies 'bs_product_edit_form'
 * as its #theme callback.  Otherwise, by default, product add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The product add/edit form.
 *
 * @see \Drupal\bs_product\Form\ProductForm->form()
 *
 * @ingroup themeable
 */
#}
<div class="layout-bs-product-form {% if form.variations_container %} width-variations-container{% endif %}">
  <div class="layout-region layout-region-bs-product-main">
    {{ form|without('advanced', 'footer', 'actions', 'variations_container') }}
  </div>
  <div class="layout-region layout-region-bs-product-secondary">
    {{ form.advanced }}
  </div>
  {% if form.variations_container %}
  <div class="layout-region layout-region--bs-product--product-variations">
    {{ form.variations_container }}
  </div>
  {% endif %}
  <div class="layout-region layout-region-bs-product-footer">
    <div class="layout-region-node-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
