{#
/**
 * @file
 *
 * Default category template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - category: The rendered product fields.
 *   Use 'category' to print them all, or print a subset such as
 *   'category.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ category|without('title') }}
 *   @endcode
 * - category: The products category entity.
 * - category_url: The products category URL.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'bs-products-category',
    'bs-products-category--' ~ category.id,
    'bs-products-category--type-' ~ category.bundle|clean_class,
    view_mode ? 'bs-products-category--view-mode-' ~ view_mode|clean_class,
  ]
%}
<div {{ attributes.addClass(classes) }}>
  {{- content -}}
</div>
